# Variables de entorno (nunca se hornean en la imagen)
.env
.env.local

# Base de datos local (el profesor genera la suya)
instance/
*.db
*.sqlite
*.sqlite3

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Entornos virtuales
venv/
env/
ENV/
.venv/

# Git
.git/
.gitignore

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
*.pid
